# Core
Django>=5.1,<5.2
Pillow>=10.0

# API
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3

# Database
dj-database-url>=2.1
psycopg2-binary>=2.9

# Production server
gunicorn>=21.2
whitenoise>=6.6

# AI
anthropic>=0.34

# Utils
python-decouple>=3.8
